*.desc
blkcipher_seq
blob_example
capwap
cscope.out
deco_dma_1
decryption
dlc_fp_paramgen
dlc_keygen
dtls_encap_iv_ver
dual_1
dual_2
f2m_calc_c
fast36b_multipdu_kasumi_bitshift_dcrc
hmac_1
hmac_2
hmac_by_hand
if_commands
jump_commands
kasumi_dcrc_decap_opt
kasumi_dcrc_encap_opt
make_prime
make_rsa_keys_1
mod_exp
no_shift_kasumi_crc_init_var_stim
P4080R2_ppp_decap
P4080R2_ppp_encap
perf_test
pointer_size
postpend_1
prepend_1
raid_xor_opt
ref_example
rsa_decrypt
rsa_verify
test_fifoload
test_fifostore
test_jump
test_key
test_load
test_math
test_move
test_nfifo
test_operation_alg
test_operation_pkha
test_protocol
test_seq_ptr
test_signature
test_store
var_1
